*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/.name
app/libs/poi-ooxml-schemas-3.17.jar
app/libs/poi-ooxml-3.17.jar
app/libs/poi-3.17.jar
